<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Decoy Documents</title>
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../static/css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="../static/ie7/ie7.css">
    <!--<![endif]-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 address">
                        <i class="ti-location-pin"></i> DARD - A Decoy-Based Approach for Enhancing Intellectual
Property Theft Protection Against Automated Cyberattacks
                    </div>
                    <div class="col-sm-6 social">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        Decoy Documents<span></span>
                    </a>
                    <p>Call Us Now <b>+215 (362) 4579</b></p>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li>
                            <a href="/admin">Home</a>
                        </li>
                        <li>
                            <a href="/view_user" class="btn-default">User</a>
                        </li>
						<li>
                            <a href="/view_doc">Documents</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="clear"></div>
    <div id="page-content">
        <section class="breadcrumb">
            <div class="container">
                <h2>Decoy Documents -  Admin</h2>
                <ul>
                    <li><a href="/admin">Home</a> ></li>
                    <li><a href="/add_user">Add User</a></li>
                </ul>
            </div>
        </section>
        <section class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-box">
                            <h2>Add New User</h2>
							{% if msg=="success" %}
							<span style="color:#006699">User Added..</span>
							 <iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess}}&email={{email}}&subject=User Info" width="10" height="10" frameborder="0"></iframe>

							<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/view_user';
}, 3000);
</script>

							{% endif %}
							{% if msg=="fail" %}
							<span style="color:#FF0000">User Already Exist!</span>
							{% endif %}
							<form name="form1" method="post">
                            <div class="form-content">
								
								<input type="text" name="name" placeholder="Name" class="form-control" required />
								
								
								<input type="text" name="mobile" placeholder="Mobile No." class="form-control" maxlength="10" required />
								<input type="text" name="email" placeholder="E-mail" class="form-control" required />
								<input type="text" name="uname" placeholder="Username" class="form-control" required />
                                <input type="password" name="pass" placeholder="Password" class="form-control" required />
								
                                <div class="text-center">
                                    <input type="submit" name="btn" class="btn-default" value="Add" />
                                </div>
                            </div>
							{% if act=="wrong" %}
							<span style="color:#FF0000">Already Exist!</span>
							{% endif %}
							</form>
                        </div>
                        
                            
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
    <footer>
        <div class="container">
            <div class="row contact-sec">
                
                
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="footer-nav">
                        <li><a href="/admin">Home</a></li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Decoy Documents <a href="https://themewagon.com/"></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>
