<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Decoy Documents</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/easy-responsive-tabs.css " />
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css " />
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="../static/ie7/ie7.css">
    <!--<![endif]-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 address">
                        <i class="ti-location-pin"></i>DARD - A Decoy-Based Approach for Enhancing Intellectual
Property Theft Protection Against Automated Cyberattacks
                    </div>
                    <div class="col-sm-6 social">
                       <!-- <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="">
                       Decoy Documents<span> </span>
                    </a>
                    <!--<p>Call Us Now <b>+215 (362) 4579</b></p>-->
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/" class="btn-default">Home</a>
                        </li>
                        <!--<li>
                            <a href="/login_ta">TA</a>
                        </li>-->
						<li>
                            <a href="/login">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="clear"></div>
    <div id="page-content">
        <section class="flexslider">
            <ul class="slides">
                <li>
                    <img src="../static/images/insure1.jpg" />
                    <div class="slide-info">
                        <div class="slide-con">
                            
                            <h3>Decoy Documents</h3>
                            <p>DARD - A Decoy-Based Approach for Enhancing Intellectual
Property Theft Protection Against Automated Cyberattacks</p>
                                            </div>
                    </div>
                </li>
                <li>
                    <img src="../static/images/insure2.jpg" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <h3>Decoy Documents</h3>
                            <p>DARD - A Decoy-Based Approach for Enhancing Intellectual
Property Theft Protection Against Automated Cyberattacks</p>                        
							</div>
                    </div>
                </li>
                <li>
                    <img src="../static/images/insure1.jpg" />
                    <div class="slide-info">
                        <div class="slide-con">
                            <h3>Decoy Documents</h3>
                            <p>DARD - A Decoy-Based Approach for Enhancing Intellectual
Property Theft Protection Against Automated Cyberattacks</p>
							</div>
                    </div>
                </li>
            </ul>
        </section>
        <div class="container">
            <div class="row">
                <section class="col-sm-7 col-md-8 col-lg-8">
                    <div class="intro">
                        <h2>Decoy Documents</h2>
                        <p>Intellectual Property (IP) is a critical asset for organizations, containing valuable innovations and
proprietary knowledge that must be protected to maintain a competitive edge. </p>
                        <ul class="row">
                            <li class="col-sm-4">
                                <i class="fa fa-life-ring"></i>
                                <h3>DARD</h3>
                                <p>Decoy Approaches for
Robust Protection against IP Theft system.</p>
                            </li>
                            <li class="col-sm-4">
                                <i class="ti-marker-alt"></i>
                                <h3>VAE</h3>
                                <p>Variational
Autoencoder.</p>
                            </li>
                            <li class="col-sm-4">
                                <i class="ti-email"></i>
                                <h3>NLP</h3>
                                <p>Natural Language Processing.</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="col-sm-5 col-md-4 col-lg-4">
                    <div class="get-quote-form">
                        <h2>User Login</h2>
                        <form name="form1" method="post">
                            <div>
                                <input type="text" name="uname" placeholder="Username" />
                            </div>
                            <div>
                                <input type="password" name="pass" placeholder="Password" />
                            </div>
                           
                            
                            <div class="text-center">
                               <input type="submit" name="btn" class="btn-default" value="Login" />
                            </div>
							<span style="color:#FF0000">{{msg}}</span>
                        </form>
                    </div>
                </section>
            </div>
        </div>
       
       
       
      
        
    </div>
    <div class="clear"></div>
    <footer>
        <div class="container">
            <div class="row contact-sec">
                
                
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="footer-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Decoy Documents <a href="https://themewagon.com/"></a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="../static/js/jquery.flexslider-min.js"></script>
    <script src="../static/js/easyResponsiveTabs.js"></script>
    <script src="../static/js/owl.carousel.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>
