<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Decoy Documents</title>
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../static/css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="../static/ie7/ie7.css">
    <!--<![endif]-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% if sms_st=="1" %}
<iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess}}&email={{email}}&subject=Adversary" width="10" height="10" frameborder="0"></iframe>

<iframe src="http://iotcloud.co.in/testsms/sms.php?sms=emr&name=Admin&mess={{mess}}&mobile={{mobile}}" width="10" height="10" ></iframe>
{% endif %}

	{% if msg=="attack" %}
	
	<h4 align="center" style="color:#003399">Requesting File...</h4>
	
		
	<script>
setTimeout(function () {
   window.location.href= '/process1';
}, 8000);
</script>
	
	{% elif msg=="show" %}
	<script language="javascript">
	window.parent.location.href="/attack1";
	</script>
	{% else %}
		
	<script>
setTimeout(function () {
   window.location.href= '/process1';
}, 8000);
</script>
	{% endif %}
	
	


	
	
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>
