<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Decoy Documents</title>
    <link rel="shortcut icon" href="../static/images/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../static/css/icons.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="../static/ie7/ie7.css">
    <!--<![endif]-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <header>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 address">
                        <i class="ti-location-pin"></i>  DARD - A Decoy-Based Approach for Enhancing Intellectual
Property Theft Protection Against Automated Cyberattacks

                    </div>
                    <div class="col-sm-6 social">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/admin">
                         Decoy Documents<span></span>
                    </a>
                   <!-- <p>Call Us Now <b>+215 (362) 4579</b></p>-->
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li>
                            <a href="/admin">Home</a>
                        </li>
                        <li>
                            <a href="/view_user">User</a>
                        </li>
						<li>
                            <a href="/view_doc" class="btn-default">Documents</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="clear"></div>
    <div id="page-content">
        <section class="breadcrumb">
            <div class="container">
                <h2>Admin</h2>
                <ul>
                    <li><a href="/admin">Home</a> ></li>
                    <li><a href="/add_user">Add User</a></li>
                </ul>
            </div>
        </section>
        <section class="contact-us">
            <div class="container">
                <div class="row">
					
                    <div class="col-md-9 col-md-offset-2">
					
						<h2>Document Information</h2>
                        <div class="form-box" style="width:100%; height:400px; overflow:auto">
                            
							
							<table class="table table-striped thead-dark table-bordered table-hover">
							<tr>
							<th>S.No</th>
							<th>Document</th>
							<th>Aadhar Number</th>
							<th>Name</th>
							<th>Date of Birth</th>
							<th>Gender</th>
							<th>Address</th>
							<th>Passport Number</th>
							<th>Date of Issue</th>
							<th>Date of Expiry</th>
							<th>Mobile Number</th>
							<th>E-mail</th>
							<th>Photo</th>
							<th>Driving Licence Number</th>
							<th>Nationality</th>
							<th>State</th>
							<th>Place of Birth</th>
							<th>Country Code</th>
							<th>Place of Issue</th>
							<th>Signature</th>
							<th>QR Code</th>
							<th>S/D/W of</th>
							<th>Blood Group</th>
							<th>Permanent Account No.</th>
							<th>Ration Card No.</th>
							<th>Bar Code</th>
							<th>Voter ID</th>
							<th>Branch</th>
							<th>Card Name</th>
							<th>Chip Code</th>
							<th>Card No.</th>
							<th>Height</th>
							<th>Weight</th>
							<th>Language</th>
							<th>Plan Type</th>
							<th>Policy Type</th>
							<th>Amount</th>
							<th>Death Benefit</th>
							<th>Subsequent Premium</th>
							<th>Billing Method</th>
							<th>Provience</th>
							<th>Postal Code</th>
							<th>Coverage</th>
							<th>ID Number</th>
							<th>Registration No.</th>
							<th>Make and Model</th>
							<th>Year</th>
							<th>Color</th>
							<th>Fax</th>
							<th>Driver Info</th>
							<th>Vehicle Information</th>
							<th>Current insurance information</th>
							<th>General Information</th>
							<th>Home Information</th>
							<th>Structure Information</th>
							<th>Source of Fund</th>
							<th>Bank details</th>
							<th>Family Physician Details</th>
							<th>Payment details</th>
							<th>Biometric Info</th>
							<th>Fingerprint</th>
							<th>Handwriting</th>
							</tr>
							{% for rs in data %}
							<tr>
							<td>{{loop.index}}</td>
							<td>{{rs[1]}}</td>
							<td>{{rs[3]}}</td>
							<td>{{rs[4]}}</td>
							<td>{{rs[5]}}</td>
							<td>{{rs[6]}}</td>
							<td>{{rs[7]}}</td>
							<td>{{rs[8]}}</td>
							<td>{{rs[9]}}</td>
							<td>{{rs[10]}}</td>
							<td>{{rs[11]}}</td>
							<td>{{rs[12]}}</td>
							<td>{{rs[13]}}</td>
							<td>{{rs[14]}}</td>
							<td>{{rs[15]}}</td>
							<td>{{rs[16]}}</td>
							<td>{{rs[17]}}</td>
							<td>{{rs[18]}}</td>
							<td>{{rs[19]}}</td>
							<td>{{rs[20]}}</td>
							<td>{{rs[21]}}</td>
							<td>{{rs[22]}}</td>
							<td>{{rs[23]}}</td>
							<td>{{rs[24]}}</td>
							<td>{{rs[25]}}</td>
							<td>{{rs[26]}}</td>
							<td>{{rs[27]}}</td>
							<td>{{rs[28]}}</td>
							<td>{{rs[29]}}</td>
							<td>{{rs[30]}}</td>
							<td>{{rs[31]}}</td>
							<td>{{rs[32]}}</td>
							<td>{{rs[33]}}</td>
							<td>{{rs[34]}}</td>
							<td>{{rs[35]}}</td>
							<td>{{rs[36]}}</td>
							<td>{{rs[37]}}</td>
							<td>{{rs[38]}}</td>
							<td>{{rs[39]}}</td>
							<td>{{rs[40]}}</td>
							<td>{{rs[41]}}</td>
							<td>{{rs[42]}}</td>
							<td>{{rs[43]}}</td>
							<td>{{rs[44]}}</td>
							<td>{{rs[45]}}</td>
							<td>{{rs[46]}}</td>
							<td>{{rs[47]}}</td>
							<td>{{rs[48]}}</td>
							<td>{{rs[49]}}</td>
							<td>{{rs[50]}}</td>
							<td>{{rs[51]}}</td>
							<td>{{rs[52]}}</td>
							<td>{{rs[53]}}</td>
							<td>{{rs[54]}}</td>
							<td>{{rs[55]}}</td>
							<td>{{rs[56]}}</td>
							<td>{{rs[57]}}</td>
							<td>{{rs[58]}}</td>
							<td>{{rs[59]}}</td>
							<td>{{rs[60]}}</td>
							<td>{{rs[61]}}</td>
							<td>{{rs[62]}}</td>
							</tr>
							{% endfor %}
							</table>
							
							
                        </div>
						
                        <p align="center">Rows: {{rows}}, Columns: {{cols}}</p>
                        <form name="form1" method="post" action="/preprocess">
						<input type="submit" name="btn" class="btn-default" value="Preprocessing" />
						</form>    
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="clear"></div>
   <footer>
        <div class="container">
            <div class="row contact-sec">
               
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <ul class="footer-nav">
                        <li><a href="/admin">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                       
                    </ul>
                </div>
               
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        Decoy Documents <a href="https://themewagon.com/"></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="../static/js/custom.js"></script>
</body>

</html>
